@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
      width: 1200px;
      overflow-x: auto;
      user-select: none;
    }
  }
  